@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;600;700;900&family=Poppins:ital,wght@0,700;0,800;0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 7gi00;
    font-size: 19px;
}

.container{
    padding: 1.5rem;
    border-radius: 1em;
    width: 35%;
    margin: 4% auto;
    background-color: lightseagreen;
    box-shadow: rgba(0, 0, 0, 0.19);
    height: 500px;
}



.display-box{
    background-color: #dcdbe1;
    border: 1px solid darkblue;
    border-radius: 5px;
    width: 100%;
    height: 80%;
    padding-left: 1rem;
    
}

#btn{
    background-color: red;

}

input[type=button] {
    background-color: cornflowerblue;
    color: black;
    border: 1px solid dodgerblue;
    width: 100%;
    border-radius: 5px;
    height: 80%;
    outline: none;
    padding: 0 0.7rem;
}

input:active[type=button]{
    background: coral;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.space{
    padding: 0 0.8rem;
    margin: 0;
}